@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");
.nav {
  display: flex; }

#divLista {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin-bottom: 3rem; }

#divLista ul li {
  font-size: 2rem;
  margin-left: 4rem;
  list-style: none;
  display: inline-block;
  margin-top: 5rem;
  margin-right: 5rem; }

#divLista ul li a {
  text-decoration: none;
  color: #c6bcbc; }

a {
  transition: background-color 0.5s; }

a:hover {
  background-color: #9e9e9b;
  border-radius: 5px; }

.logo {
  width: auto;
  height: auto;
  cursor: pointer; }

.body {
  height: 100vh;
  background-attachment: fixed;
  background-image: url(../img/background.jpg);
  background-size: cover;
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: "header" "fbanda" "divBiografia" "fbanda2" "discografias" "videos" "galeria" "form" "footer"; }

/* defino las areas de layout */
.header {
  grid-area: header; }

#fotosBanda {
  grid-area: fbanda; }

.div__biografia {
  grid-area: divBiografia; }

#fotosBanda2 {
  grid-area: fbanda2; }

.footer {
  grid-area: footer; }

.discografias {
  grid-area: discografias; }

.videos {
  grid-area: videos; }

.galeria {
  grid-area: galeria; }

.form {
  grid-area: form; }

/* fin de las areas de layout */
.carsec {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem; }

.titulo__biografia--uppercase {
  display: flex;
  align-items: center;
  justify-content: center; }

.container-fluid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 15rem; }

.titulo_contacto {
  color: #c6bcbc;
  font-size: 2rem;
  margin-bottom: 3rem;
  margin-left: 5rem; }

.form {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  width: auto; }

#nombre {
  color: #c6bcbc;
  font-size: 1.5rem;
  margin-bottom: 1rem; }

#apellido {
  color: #c6bcbc;
  font-size: 1.5rem;
  margin-bottom: 1rem; }

#mail {
  color: #c6bcbc;
  font-size: 1.5rem;
  margin-bottom: 1rem; }

#comentario {
  color: #c6bcbc;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  align-items: stretch; }

#opinion {
  overflow: scroll hidden;
  resize: none;
  width: 30rem; }

.titulo_comentario {
  color: #c6bcbc;
  font-size: 1.5rem;
  padding-bottom: 2rem; }

@media (max-width: 790px) {
  .logo {
    width: 95%; } }

@media (max-width: 788px) {
  #fban {
    padding-top: 1rem;
    padding-bottom: 3rem; } }

@media (max-width: 360px) {
  .nav {
    justify-content: center; }
  #vid1 {
    width: 340px;
    align-items: center; }
  #vid2 {
    width: 340px;
    align-items: center; }
  #vid3 {
    width: 340px;
    align-items: center; }
  .form {
    width: -5px; }
  #opinion {
    width: 20rem; } }

.discografias {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 100px;
  z-index: 10; }

.titulo__discografia {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c6bcbc;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem; }

.p_discografia {
  color: #c6bcbc;
  text-align: center justify;
  font-size: 1.3rem;
  width: auto; }

.smash {
  text-align: center; }

.consp {
  text-align: center; }

.hombre {
  text-align: center; }

.americana {
  text-align: center;
  margin-bottom: 15rem; }

#foo {
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0%; }

.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }

#div_video {
  margin-left: 1rem;
  margin-right: 1rem; }

.btn1, .btn2 {
  background: linear-gradient(to bottom, #faecec, #fa1818);
  width: 70px;
  height: 30px;
  border: none; }
  .btn1:hover, .btn2:hover {
    color: #ee0000;
    cursor: pointer; }

.btn2 {
  border-radius: 10px; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Shippori Antique B1", sans-serif; }

.biografia {
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

p {
  font-size: 2rem;
  line-height: 2rem;
  color: rgba(253, 253, 253, 0.767); }

.div__biografia {
  background-color: #2e2727;
  border: inset;
  color: #f0ffff;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  width: 90%;
  height: auto;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto; }

html {
  font-size: 62.5%;
  display: flex; }

.titulo__biografia--uppercase {
  color: #f7f4f4;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem; }

#fotosBanda {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
  margin-bottom: 2rem; }

#fotosBanda2 {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
  margin-top: 2rem;
  padding-bottom: 10rem; }
