.discografias {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-top: 100px;
	z-index: 10;
	
  }
  
  .titulo__discografia {
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(198, 188, 188);
	text-align: center;
	font-size: 2rem;
	margin-bottom: 2rem;
  }
  
  .p_discografia {
	color: rgb(198, 188, 188);
	text-align: center justify;
	font-size: 1.3rem;
	width: auto;
    

  }
  
  .smash {
	text-align: center;
  }
  
  .consp {
	text-align: center;
  }
  
  .hombre {
	text-align: center;
  }
  
  .americana {
	text-align: center;
	margin-bottom: 15rem;
  }
 