.carsec {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5rem;
  }
  
  .titulo__biografia--uppercase {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	
	
  }
  
  .container-fluid {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding-bottom: 15rem;
	
  } 