.carsec {
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .titulo__biografia--uppercase {
	margin-top: 10rem;
  }
  
  .galeria {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
  }