@import "_navBar.scss",
        "_body.scss",
		"_galeria.scss",
		"_contacto.scss",
		"_fonts.scss",
		"_breakPoints.scss",
		"_discografias.scss",
		"_footer.scss",
		"_videos.scss",
		"_variables.scss";
							


* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
	font-family: "Shippori Antique B1", sans-serif;
  }
  
  
  
  
  
   
  
  .biografia {
	color: rgba(237, 227, 227, 0.53);
	text-align: left;
	font-size: 2rem;
	line-height: 2rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
  }
  
  .div__biografia {
	border: inset;
	color: $color-div;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	width: 90%;
	height: auto;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
  }
  
  html {
	font-size: 62.5%;
	display: flex;
  }
  
  .titulo__biografia--uppercase {
	color: $titulo-biografia;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 2rem;
  }
  
  #fotosBanda {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-around;
	margin-bottom: 2rem;
  }
  
  #fotosBanda2 {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-around;
	margin-top: 2rem;
  }
  
   
  
  /* discografia */
  
  /* finaliza discografia */
  /*---------------------------------------------------------------/*
  /* videos */
  
   
  
  /*finaliza video*/
  
  /*galeria*/
  
  
  /* fin galeria */
   
  /* media queris */
  
   
  